
\.Rproj\.user/

BilingalismCanada\.Rproj

\.Rhistory

*.sav

\.RData

*.shp

province_data_2016/

src/ref/ne_50m_admin_1_states_provinces_lakes/

Rplot001\.png

*.pdf

gcd_000b11a_e\.dbf

*.prj

*.shx

*.dbf

*.html

03_output/01_figures/

*.zip

*.xlsx

.RDataTmp

02_map_data/

03_output/00_processed_data/idata_raw.Rdata

00_scripts/BilCan_Predictors_files/figure-html/
